<div style="background: #ececec; padding: 8px">
  <nz-card
    style="width: 100%"
    [nzBordered]="false"
    nzTitle="Establecer Actividades"
    [nzExtra]="extraTemplate">
    <form
      nz-form
      [nzLayout]="'vertical'"
      [formGroup]="anexarTarea"
      (ngSubmit)="submitForm()" >
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="titulo" nzRequired>
          Título
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="titulo"
            id="titulo"
            placeholder="Título de la actividad"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="descripcion" nzRequired>
          Descripción
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <textarea
            nz-input
            placeholder="Describe la Actividad a realizar"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }">
          </textarea>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="login-form-margin">
      <div nz-col nzSpan="8">
        <button nz-button nzType="primary" nzBlock>Guardar</button>
      </div>
      <div nz-col nzSpan="8" nzOffset="8">
        <button nz-button nzType="dashed" nzBlock (click)="resetForm()" nzDanger>Borrar</button>
      </div>
      </div>
    </form>
  </nz-card>
</div>
<ng-template #extraTemplate> <a>Más</a></ng-template>
